/*css histoire*/

/*css image mario*/
.presentation img {
    width:80% ;
    margin: 2em;
}
@media (max-width: 500px) {
    width: 90%;
}

/*css Début de Nintendo*/
.Debutchild{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Debut img {
    width: 15%
}
.texteDebut {
    width: 50%;
}
@media (max-width: 500px) {
    .Debutchild {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 80%;
        width: 100%;
    }
}
/*css console marquantes*/
.Consoles {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    gap: 5%;
    border-radius: 3%;

}
.Consoles img {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 20%;
}
@media (max-width: 500px) {
    .Consoles {
        display: flex ;
        flex-direction: column;
        width: 100%;
    }
    .Consoles img {
        width: 20%;
        margin: 0 auto;
    }
}
@media (max-width: 800px) and (min-width: 500px){
    .Consoles {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
/*Personnage Iconique*/
.Iconiques {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 5em;
    flex-direction: row;
    padding: 2em;
}
.Iconiques img {

    width: 30%;
    height: 20%;
    border-radius: 5%;
    opacity: 95%;
    padding: 2%;
}
.bowser {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 165, 0, 0.32);
    border-radius: 5%;
}
.bowser img {
    width: 50%;
    height: 80%;
}
.Luigi {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 128, 0, 0.42);
    border-radius: 5%;
}
.Luigi img {
    width: 50%;
    height: 80%;
}
.kurbi {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 105, 180, 0.5);
    border-radius: 5%;
}
.kurbi img {
    width: 50%;
    height: 80%;
}
@media (max-width: 500px) {
    .Iconiques {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse ;
    }
}
/*console phare*/
.JN64 {
    display: flex;
    justify-content: space-between;
}
.JGameBoy {
    display: flex;
    justify-content: space-around;
}
.JNES {
    display: flex;
    justify-content: space-between;
}
.JSuperNintendo {
    display: flex;
    justify-content: space-between;
}
/*video*/
.VideoH {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    text-align: center;
    align-items: center;
}
iframe {
    margin-left: auto;
    width: 50%;
    height: 50%;
}
.texteV {
    width: 49%;
}
.texteVideo{
    width: 80%;
}

@media (max-width: 500px) {
    .VideoH {
        display: flex;
        justify-content: center;
        flex-direction: column ;
        align-items: center;
    }
    .texteV {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 50%;
    }
    .texteVideo {
        text-align: center;
        margin-left: 35%;
    }